@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html, body {
    height: 100%;
}
body {
    background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
    display: flex;
    flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  height: 120px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
.head {
  margin: auto;
  padding: 10px 0px 10px 0px;
  width: 350px;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 30%);
  font-size: 40px;
  border: 1px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}
.result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 10px 0px;
}
.play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tile-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 20rem;
  height: 20rem;
  margin: 20px 0px 50px 0px;
}
.tile {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  font-size: 50px;
  font-weight: 800;
  line-height: 100px;
  text-align: center;
}
.player-select, .symbol-select {
    margin: 0px 5px 0px 5px;
    padding: 5px 10px 5px 10px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    outline: none !important;
}
.choose-player, .end-game {
    padding: 8px 10px 8px 10px;
    border: none;
    background-color: rgb(0, 193, 0);
    color: #fff;
    border-radius: 8px;
}
.end-game {
  background-color: red;
}
.end-game:disabled {
  background-color: #afafaf;
}
.copyright {
    margin-top: auto;
    padding: 15px;
    background-color: #2b00ff;
}
.copyright p, .copyright a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}